#**Pengaruh Konsumsi Kopi terhadap Keseimbangan Pola Tidur, Tingkat Stres, dan Kesehatan Individu**

#**Import Library**

In [17]:
import pandas as pd

#**Memuat Dataset**

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
path = '/content/drive/MyDrive/praktikum AVD/synthetic_coffee_health_10000.csv'
gd = pd.read_csv(path)
gd

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

#**Bussiness Understanding**

##Business Objective

Dataset ini berisi data mengenai kebiasaan konsumsi kopi serta kondisi kesehatan dan gaya hidup para responden dari 20 negara berbeda. Data ini menggambarkan bagaimana individu dari berbagai usia, negara, dan latar belakang pekerjaan mengonsumsi kopi serta bagaimana kebiasaan tersebut berkaitan dengan kualitas tidur, tingkat stres, detak jantung, dan kondisi kesehatan lainnya.

Peningkatan konsumsi kopi sering dilakukan untuk menjaga energi dan konsentrasi, terutama pada individu dengan aktivitas padat. Masalah utama yang dapat diangkat dari dataset ini adalah adanya kemungkinan bahwa konsumsi kopi dalam jumlah tertentu dapat memengaruhi kesehatan individu, terutama pada kualitas tidur dan tingkat stres. Selain itu, konsumsi kafein juga diduga memiliki hubungan dengan kondisi fisik seperti detak jantung dan indeks massa tubuh. Masalah lain yang muncul adalah belum adanya pemahaman yang jelas mengenai bagaimana faktor gaya hidup seperti aktivitas fisik, kebiasaan merokok, dan konsumsi alkohol dapat memperkuat atau justru mengurangi dampak konsumsi kopi terhadap kesehatan. Oleh karena itu, dataset ini perlu dianalisis untuk menemukan pola hubungan antara konsumsi kopi dan berbagai indikator kesehatan.

##Asses Situation

Dataset ini berisi 10.000 data responden yang menggambarkan kebiasaan minum kopi, pola tidur, dan kondisi kesehatan dari berbagai negara. Data ini mewakili responden dari sekitar 20 negara, sehingga bisa memberikan gambaran yang cukup luas tentang kebiasaan konsumsi kopi di berbagai tempat.

Jumlah responden yang banyak membuat dataset ini cukup kuat untuk dianalisis karena dapat menunjukkan pola konsumsi kopi secara umum. Selain itu, responden berasal dari berbagai usia dan latar belakang, sehingga hasil analisis bisa lebih beragam dan tidak hanya menggambarkan satu kelompok tertentu saja.

Namun, dataset ini juga memiliki beberapa tantangan. Salah satu tantangan yang terlihat adalah adanya nilai yang kosong pada beberapa atribut, khususnya pada data gangguan kesehatan.

##Analytic Goals

*   Menganalisis hubungan konsumsi kopi dengan kualitas tidur, tingkat
stres, dan kondisi kesehatan responden.
*   Mengidentifikasi faktor gaya hidup yang memengaruhi dampak konsumsi kopi terhadap kesehatan.
*   Menemukan pola konsumsi kopi yang berpotensi menimbulkan risiko kesehatan.
*   Menghasilkan insight yang dapat digunakan untuk memberikan rekomendasi pola konsumsi kopi yang lebih sehat.

##Project Plan


*   Memahami struktur dataset dan arti setiap variabel.
*   Membersihkan dan menyiapkan data agar siap dianalisis.
*   Melakukan eksplorasi data memahami distribusi dan pola data.
*   Menganalisis hubungan antar variabel.
*   Memvisualisasikan serta menginterpretasikan hasil analisis dan menyusun kesimpulan.